@font-face {
    font-family: 'SCDream3';
    src: url('../fonts/SCDream3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SCDream5';
    src: url('../fonts/SCDream5.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#mainTitle {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'SCDream5', sans-serif;
    font-size: 60px;
    letter-spacing: 0.15em;

    color: #000000;
}

#moveDeparture {
    position: absolute;
    top: 60%;
    left: 30%;
    width: 200px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'SCDream3', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 0.1em;

    background: #104C82;
    border-radius: 10px;
}

#moveArrival {
    position: absolute;
    top: 60%;
    right: 30%;
    width: 200px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'SCDream3', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 0.1em;

    background: #104C82;
    border-radius: 10px;
}